h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.section-break {
  page-break-before: always;
}

.footnotes::before {
  content: 'FOOTNOTES';
}

.annotations::before {
  content: 'ANNOTATIONS';
}

.footnotes::before, .annotations::before {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  display: block;
}

.footnote, .annotation {
  margin-top: 0.5rem;
}

.footnote::before, .annotation::before {
  content: '';
  display: block;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #000;
}

.annotation a:first-child {
  float: left;
  margin-right: 0.5rem;
}

.annotation i {
  display: block;
  font-style: italic;
  margin-bottom: 0.5rem;
}

a.annotation-ref {
  text-decoration: none;
  color: initial;
}

.title {
  text-align: center;
}

.page.title {
  padding-top: 2rem;
}

.g-redacted {
  color: #000;
  background-color: #000;
  padding: 1px;
  word-break: break-word;
  cursor: default;
  opacity: 1;
}

.g-redacted:before {
  top: 0;
  width: 100%;
  min-width: 150px;
  opacity: 1;
  padding-left: 5px;
  font: 500 11px/calc(23 / 12) nyt-franklin,arial,helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  white-space: nowrap;
  pointer-events: none;
}

.g-redacted-white:before {
  content: "Redacted: Ongoing Matter";
  color: #FFF;
}

.g-redacted-green:before, .key-color-4:before {
  content: "Redacted: Personal Privacy";
  color: #6AB46A;
}

.g-redacted-yellow:before, .key-color-1:before {
  content: "Redacted: Investigative Technique";
  color: #F5C346;
}

span.g-redacted.g-redacted-black:before, span.g-redacted:not(.g-c-40):before {
  content: "Redacted";
}

.g-toc-indent {
  padding-left: 1rem;
}